<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
<!-- HEADER -->
<%- include('partials/header.ejs') %>
<!-- HEADER -->
    <div class="container">
        <form action="/post/<%=id%>/comment" method="POST">
            <input type="text" name="descComment">
            <input type="submit" value="add">
        </form>
    </div>
</body>
</html>